!!! 5
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Merienda%20One'
    = stylesheet_link_tag :application
    %link{ href: '/favicon.png', rel: 'icon', type: 'image/png' }
    %title Ivan Ukhov
  %body
    .state#alpha= yield
    .state#beta
    .state#gamma
    .state#delta
