!!! 5
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Cuprum'
    = stylesheet_link_tag :application
    %link{ href: '/favicon.png', rel: 'icon', type: 'image/png' }
    %title Ivan Ukhov
  %body
    #page
      #background
      #foreground= yield
