!!! 5
%html{ lang: 'en', prefix: 'og: http://ogp.me/ns#' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'description', content: 'Photography by Ivan Ukhov' }
    %meta{ name: 'twitter:card', content: 'summary' }
    %meta{ name: 'twitter:site', content: '@IvanUkhov' }
    %meta{ name: 'twitter:creator', content: '@IvanUkhov' }
    %meta{ property: 'og:title', content: 'Photography | Ivan Ukhov' }
    %meta{ property: 'og:type', content: 'profile' }
    %meta{ property: 'og:url', content: 'https://photography.ivanukhov.com' }
    %meta{ property: 'og:description', content: 'Photography by Ivan Ukhov' }
    %meta{ property: 'profile:first_name', content: 'Ivan' }
    %meta{ property: 'profile:last_name', content: 'Ukhov' }
    %meta{ property: 'profile:gender', content: 'male' }
    %title Photography | Ivan Ukhov
    %link{ href: "application.css?#{stamp}", rel: 'stylesheet' }
    %script{ src: 'https://use.typekit.net/sfh6bkj.js', async: true, onload: 'try{Typekit.load();}catch(e){}' }
    %script
      :plain
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create','UA-47932672-4',{'siteSpeedSampleRate':100});
        ga('send','pageview');
    %link{ href: 'favicon.png', rel: 'icon', type: 'image/png' }
  %body
    %article#stream
    %footer &copy; 2011&ndash;2017 <a href="#{encode('mailto:ivan.ukhov@gmail.com')}">Ivan Ukhov</a>
    %script{ src: 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js' }
    %script{ src: "application.js?#{stamp}" }
