!!! 5
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'description', content: 'Photography by Ivan Ukhov' }
    %meta{ property: 'og:url', content: 'http://ivanukhov.com' }
    %meta{ property: 'og:title', content: 'Ivan Ukhov' }
    %meta{ property: 'og:type', content: 'profile' }
    %meta{ property: 'og:description', content: 'Photography by Ivan Ukhov' }
    %meta{ property: 'profile:first_name', content: 'Ivan' }
    %meta{ property: 'profile:last_name', content: 'Ukhov' }
    %meta{ property: 'profile:gender', content: 'male' }
    %title Ivan Ukhov
    %link{ href: '/favicon.png', rel: 'icon', type: 'image/png' }
    %script{ type: 'text/javascript', src:'//use.typekit.net/sfh6bkj.js' }
    %script{ type: 'text/javascript' }= 'try{Typekit.load();}catch(e){}'
    = stylesheet_link_tag :application
    %script{ :type => 'text/javascript' }
      :plain
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-47932672-4']);
        _gaq.push(['_setDomainName', 'ivanukhov.com']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  %body
    %article#gallery
    %footer &copy; 2013&ndash;2014 <a id="email">Ivan Ukhov</a>

    = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'
    = javascript_include_tag :application
